<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/css/icon.svg"/>
    
    <title>OurFriends | <%= title %> </title>
</head>
<body>
    <nav>
        <ul id="nav-ul">
            <a href="/homepage"><li>Home</li></a>
            <a href="/api/createposts"><li>Create post</li></a>
            <a href="/api/posts"><li>Posts</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>
    </nav>
    
</body>
</html>