<%- include('./partials/head.ejs')  %> 
<form action="/api/posts" method="POST">
    <label for="username">Username: </label>
    <%= user.username  %>
    <label for="title">title</label>
    <input type="text" id="title" name="title">
    <label for="post">post</label>
    <input type="text" id="post" name="post">
    <button type="submit">Submit</button>
    
</form>
